
  mat-sidenav-container {
    height: 100%;
  }

  mat-sidenav{
    background-color: rgb(63,81,181);
    width: 200px;
   
  }

  .image{
    background-image: url("../app/components/images/eye.png");
    width: 200px;
    height: 200px;
  }

  .netflix-Letters{
    background-image: url("./components/images/netflix-letters.png");
    width: 200px;
    height: 50px;
    
  }

  .active{
    background-color: rgba(22, 5, 94, 0.533);

}

mat-list-item {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
}

mat-grid-tile {
  background: rgb(0, 0, 0);

}

mat-tab-group {
  color: white;
  background-color: black 
}

mat-tab-label-content{
  color: white;
}

.imgOptions{
  padding: 80%;
}
